#Title {
  font-size: xx-large;
}

#hero-title {
  text-align: center;
  padding-left: 50px;
}


nav a.active {
  background-color: black;
  color: white;
  font-size: large;
}

#card-group {
  text-align: center;
  padding-left: 50px;
}

