#background {
  color: yellow; 
}

.Card {
  max-width:fit-content;
  max-height: fit-content;
  color: red; 
}

Title {
  font-size: xx-large;
}

nav a.active {
  background-color: black;
  color: white;
}