#Title {
  font-size: xx-large;
}

#test {
  text-align: center;
  color:brown; 
}

#hero-cards {
  text-align: center;
  padding-left: 50px;
  padding-top: 50px;
}

#delete-title {
  text-align: center;
}

#update-title {
  text-align: center;
}

#login-navbar {
  text-align: center;
  padding-left: 35px;
}
#form-button {
  text-align: center;
}

#delete-button {
  text-align: center;
}

#delete-god {
  padding-left: 100px;
}

nav a.active {
  background-color: black;
  color: white;
  font-size: large;
}

#card-group {
  text-align: center;
  padding-left: 50px;
}

#card-god{
  text-align: center;
}

#card-hero{
  text-align: center;
}

#card-group-versus{
  padding-left: 400px;
}

#versus{
  padding-top: 200px;
}